{% extends "base.html" %}

{% load static %}

{% block title %}| courses{% endblock %}

{% block html_head %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock %}
    
{% block content %}
    
<div class="container">
    <form method="post">
        {% csrf_token %}
      <div class="form-group">
          {%load crispy_forms_tags%}
          {{ form|crispy }}
      </div>
    <button type="submit" class="btn btn-primary">Sign in</button>
    <div class="forget-password">Forgot Password?  <a href="{% url 'reset_password' %}">Click here!</a></div>
    </form>
</div>
{% endblock %} 