{% extends "base.html" %}

{% load static %}

{% block title %}| profile{% endblock %}

{% block html_head %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}
{% block content %}

<div class="container">
    <form method="post">
        {% csrf_token %}
      <div class="form-group">
          {%load crispy_forms_tags%}
          {{ form|crispy }}
      </div>
      <button type="submit" class="btn btn-primary">Request reset password</button>
    </form>
</div>
{% endblock %} 