{% extends "base.html" %}

{% block title %}view profile{% endblock %}

{% block content %}
<style>
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
      }
      .container {
        max-width: 900px;
        margin: 0 auto;
        padding: 20px;
      }
      .profile {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
      }
      .profile img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin-right: 20px;
      }
      .profile h1 {
        margin: 0;
        font-size: 36px;
      }
      .skills {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 30px;
      }
      .skill {
        background-color: #f1f1f1;
        color: #555;
        font-size: 16px;
        padding: 8px 16px;
        border-radius: 25px;
        margin-right: 10px;
        margin-bottom: 10px;
      }
      .about {
        line-height: 1.5;
      }
      .about h2 {
        font-size: 24px;
        margin-top: 0;
      }
      .about p {
        margin: 0;
        font-size: 16px;
      }
      .dropdown-menu {
  background-color: #000000;
  display: none;
  position: absolute;
  top: calc(50% + 50px);
  left: calc(50% - 70px);
  z-index: 1;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  min-width: 160px;
  padding: 12px 16px;
  margin-top: 8px;
  border-radius: 4px;
  }
  .dropdown-menu a {
  background-color: #000000;
  color: #ffffff;
  display: block;
  font-size: 16px;
  padding: 8px 0;
  text-decoration: solid
  }
  .dropdown-menu a:hover{
  background-color: blue;
  padding: 10px;
  }
  </style>
<body>
    <div class="container">
      <div class="profile">
        <img src="{{view_user.profile.image.url}}" alt="Profile Picture">

        <div>
          <h1>{{view_user.profile.fullname}}</h1>
          <h4>@{{view_user.username}}</h4>
          <h6>{{view_user.profile.institute}}</h6>
        </div>
      </div>

      <h4>Skills</h4>
      <div class="skills">
        <span class="skill">HTML</span>
        <span class="skill">CSS</span>
        <span class="skill">JavaScript</span>
        <span class="skill">React</span>
        <span class="skill">Node.js</span>
        <span class="skill">Express.js</span>
        <span class="skill">MongoDB</span>
      </div>
      <div class="about">
        <h2>About Me</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse error temporibus, officia sunt asperiores iste dolorum reprehenderit harum, inventore vero atque laboriosam rem soluta natus voluptas quasi. Cumque non doloremque aspernatur consectetur ad nam debitis mollitia tempora eum quis! Similique architecto numquam eos magnam officiis. Voluptatum fugit quod unde hic?</p>
      </div>
    </div>
  </body>
</html>
{% endblock %} 